<section class="row text-light" style="background-color: #654321;">
    <div class="col-md-3 p-1">
      <h3 class="display-7">My_cafee</h3>
      <p>your trusted shop, the home of discounts </p>
    </div>
    <div class="col-md-3 p-1">
        <h3 class="display-7">QUICK LINKS</h3>
        <a class="text-light" href="#">Home</a><br>
        <a class="text-light" href="#">Products</a><br>
        <a class="text-light" href="#">About US</a><br>
        <a class="text-light" href="#">Contact</a>
      </div>
      <div class="col-md-3 p-1">
        <h3 class="display-7">CONTACT US</h3>
        <p><strong>Email:</strong>vincentmalombe@outlook.com</p>
        <p><strong>Phone:</strong>+2547 93 830 795</p>
        <p><strong>Adress:</strong>Nairobi kenya</p>
      </div>
      <div class="col-md-3 p-2">
        <h3 class="display-7">FOLLOW US</h3>
         <img src="../static/images/fb.png" alt="facebook" height="30" width="30">  Facebook <br> <br>
         <img src="../static/images/in.png" alt="facebook" height="30" width="30">  Instagram <br> <br>
         <img src="../static/images/fb.png" alt="facebook" height="30" width="30">  Twitter<br> <br>
         
         </div>
        <b> <hr class="text-light "><b>
         <p align="center" style="text-decoration: overline;"> &copy; All rights reserved |<strong>privacy policy</strong></p>
</section>